<nwen-article-summary-card-jumbotron-container
  [summaryCards]="mostPopularArticleSummaryCards"></nwen-article-summary-card-jumbotron-container>
<nwen-separator label="焦点N文"></nwen-separator>
<nwen-article-summary-card-column-container [maxColumnNumber]="3" [summaryCards]="mostRecentArticleSummaryCards">
</nwen-article-summary-card-column-container>
<nwen-separator label="N文连载"></nwen-separator>
<nwen-article-summary-card-jumbotron-container
  [summaryCards]="mostPopularArticleSummaryCards"></nwen-article-summary-card-jumbotron-container>
<nwen-separator class="no-label-separator"></nwen-separator>
<nwen-article-summary-card-column-container [showCoverImage]="false" [maxColumnNumber]="2"
                                            [summaryCards]="mostRecentArticleSummaryCards">
</nwen-article-summary-card-column-container>
<nwen-separator class="no-label-separator"></nwen-separator>
<nwen-article-summary-card-jumbotron-container
  [summaryCards]="mostPopularArticleSummaryCards" [showCoverImage]="false"></nwen-article-summary-card-jumbotron-container>
<nwen-separator class="no-label-separator"></nwen-separator>
<nwen-article-summary-card-column-container [showArticle]="false" [maxColumnNumber]="1" [summaryCards]="mostRecentArticleSummaryCards">
</nwen-article-summary-card-column-container>
<nwen-separator class="no-label-separator"></nwen-separator>
<nwen-article-summary-card-jumbotron-container
  [summaryCards]="mostPopularArticleSummaryCards" [showArticle]="false"></nwen-article-summary-card-jumbotron-container>
