@import "~src/common";
.container-lv1 {
  max-width: $GLOBAL_WIDTH_LV7;
  margin-left: auto;
  margin-right: auto;
}
.container-lv2 {
  max-width: $GLOBAL_WIDTH_LV7;
  margin: 32px auto;
}
.separator-content {
  font-size: 28px;
  font-weight: 400;
  span.text {
    margin-left: 8px;
  }
}
.separator-content.bigger{
  font-size: 32px;
}
