@import "~src/common";
.separator {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  margin: 16px auto;

  span.inner-bar-left {
    flex-grow: 1;
    flex-shrink: 1;
    height: 0.5px;

  }
  span.inner-bar-left.show-content {
    margin-right: 16px;
  }
  span.inner-bar-right {
    flex-grow: 1;
    flex-shrink: 1;
    height: 0.5px;
  }
  span.inner-bar-right.show-content {
    margin-left: 16px;
  }

  span.border {
    border-bottom: 2px solid $GLOBAL_COLOR_BORDER_LV5;
  }
}

