<mat-sidenav-container class="navigator-container">
  <mat-sidenav
    #sideNavigator
    class="side-navigator"
    fixedInViewport="true"
    [mode]="'over'"
    [opened]="false">
    <mat-toolbar class="logo-container">
      <nwen-logo class="logo" routerLink="/home"></nwen-logo>
    </mat-toolbar>
    <ul>
      <li>
        <a href="#">登陆/注册</a>
      </li>
      <li>
        <a href="#">最新N文</a>
      </li>
      <li>
        <a href="#">焦点N文</a>
      </li>
      <li>
        <a href="#">N文连载</a>
      </li>
      <li>
        <a href="#">N文作者</a>
      </li>
      <li>
        <a href="#">关于我们</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="top-navigator">
      <button mat-icon-button
              (click)="sideNavigator.toggle()" class="side-navigator-open-btn">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <nwen-logo routerLink="/home" class="logo"></nwen-logo>
      <button mat-button matTooltip="写文章" class="create-article-btn">
        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
