<section>
  <form #registerForm="ngForm" (ngSubmit)="register()" class="register-form">
    <mat-form-field>
      <input matInput name="token" required maxlength="40" minlength="8" type="text" [(ngModel)]="token" placeholder="Email"
             #email="ngModel"/>
      <fa-icon [icon]="['fas', 'user']" matSuffix></fa-icon>
      <mat-hint align="start">You can use email</mat-hint>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" required maxlength="40" type="password" [(ngModel)]="password"
             placeholder="Password"/>
      <fa-icon [icon]="['fas', 'lock']" matSuffix></fa-icon>
      <mat-hint align="start">6 or more characters with a mix of letters, numbers & symbols</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="nickName" required maxlength="40" type="text" [(ngModel)]="nickName"
             placeholder="Nickname"/>
      <fa-icon [icon]="['fas', 'laugh']" matSuffix></fa-icon>
      <mat-hint align="start">You can use letters,numbers, max 20</mat-hint>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" class="button-theme" type="submit">
        Register
      </button>
    </div>
  </form>
  <nwen-separator [showContent]="true">
    Register with social account
  </nwen-separator>
  <div class=" social-application-container">
    <button mat-mini-fab>
      <fa-icon [icon]="['fab','qq']"></fa-icon>
    </button>
    <button mat-mini-fab>
      <fa-icon [icon]="['fab','weixin']"></fa-icon>
    </button>
    <button mat-mini-fab class="others">
      <fa-icon [icon]="['fas','ellipsis-v']"></fa-icon>
    </button>
  </div>
  <div class="login-link-container">
    <a routerLink="/login">Go to login</a>
  </div>
</section>
