<section>
  <form #registerForm="ngForm" (ngSubmit)="register()" class="register-form">
    <mat-form-field>
      <input matInput name="token" required maxlength="40" type="text" placeholder="{{'register.email' | translate}}"
             [(ngModel)]="token"
             pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$"
             #tokenInput="ngModel"/>
      <fa-icon [icon]="['fas', 'user']" matSuffix></fa-icon>
      <mat-hint align="start">Please use a valid email address</mat-hint>
      <mat-error *ngIf="tokenInput.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="tokenInput.hasError('maxlength')">
        Email max length is <strong>40</strong>
      </mat-error>
      <mat-error *ngIf="tokenInput.hasError('pattern')">
        Email format is incorrect
      </mat-error>
      <!--The server side validation error-->
      <mat-error *ngIf="tokenInput.hasError('server-empty')">
        Email server error: <strong>{{tokenInput.errors['server-empty']}}</strong>
      </mat-error>
      <mat-error *ngIf="tokenInput.hasError('server-format')">
        Email server error: <strong>{{tokenInput.errors['server-format']}}</strong>
      </mat-error>
      <mat-error *ngIf="tokenInput.hasError('server-unique')">
        Email server error: <strong>{{tokenInput.errors['server-unique']}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" required maxlength="40" minlength="6" type="password"
             [(ngModel)]="password"
             placeholder="{{'register.password' | translate}}"
             pattern="^.*(?=.{6,})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*? ]).*$"
             #passwordInput="ngModel"/>
      <fa-icon [icon]="['fas', 'lock']" matSuffix></fa-icon>
      <mat-hint align="start">6 or more characters with a mix of letters, numbers & symbols</mat-hint>
      <mat-error *ngIf="passwordInput.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('maxlength')">
        Password max length is <strong>40</strong>
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('minlength')">
        Password min length is <strong>6</strong>
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('pattern')">
        Password format is incorrect
      </mat-error>
      <!--The server side validation error-->
      <mat-error *ngIf="passwordInput.hasError('server-empty')">
        Password server error: <strong>{{passwordInput.errors['server-empty']}}</strong>
      </mat-error>
      <mat-error *ngIf="passwordInput.hasError('server-format')">
        Password server error: <strong>{{passwordInput.errors['server-format']}}</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="nickname" required maxlength="40" minlength="3" type="text"
             [(ngModel)]="nickname"
             placeholder="{{'register.nickname' | translate}}"
             pattern="^[\u4E00-\u9FA5A-Za-z0-9_]+$"
             #nicknameInput="ngModel"/>
      <fa-icon [icon]="['fas', 'laugh']" matSuffix></fa-icon>
      <mat-hint align="start">You can use letters,numbers, max 20</mat-hint>
      <mat-error *ngIf="nicknameInput.hasError('required')">
        Nickname is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('maxlength')">
        Nickname max length is <strong>40</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('minlength')">
        Nickname max length is <strong>3</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('pattern')">
        Nickname format is incorrect
      </mat-error>
      <!--The server side validation error-->
      <mat-error *ngIf="nicknameInput.hasError('server-empty')">
        Nickname server error: <strong>{{nicknameInput.errors['server-empty']}}</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('server-format')">
        Nickname server error: <strong>{{nicknameInput.errors['server-format']}}</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('server-unique')">
        Nickname server error: <strong>{{nicknameInput.errors['server-unique']}}</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('server-max-length')">
        Nickname server error: <strong>{{nicknameInput.errors['server-max-length']}}</strong>
      </mat-error>
      <mat-error *ngIf="nicknameInput.hasError('server-min-length')">
        Nickname server error: <strong>{{nicknameInput.errors['server-min-length']}}</strong>
      </mat-error>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" class="button-theme" type="submit" [disabled]="!registerForm.valid">
        Register
      </button>
    </div>
  </form>
  <nwen-separator [showContent]="true">
    Register with social account
  </nwen-separator>
  <div class=" social-application-container">
    <button mat-mini-fab>
      <fa-icon [icon]="['fab','qq']"></fa-icon>
    </button>
    <button mat-mini-fab>
      <fa-icon [icon]="['fab','weixin']"></fa-icon>
    </button>
    <button mat-mini-fab class="others">
      <fa-icon [icon]="['fas','ellipsis-v']"></fa-icon>
    </button>
  </div>
  <div class="login-link-container">
    <a routerLink="/login">Go to login</a>
  </div>
</section>
