<div class="article-cover">
  <a [routerLink]="anthologyUrl" class="anthology-title">《{{article.anthologyTitle}}》</a>
  <span class="article-title">{{article.title}}</span>
  <span class="author-nickname">
    <span class="author-nickname-label">作者：</span>
    <a [routerLink]="authorUrl" class="author-nickname-link">{{article.authorNickName}}</a>
  </span>
  <span class="update-date">{{article.updateDate | date: 'shortDate':'zh-Hans' }}</span>
  <nwen-separator [showContent]="true" [showRightBorder]="true" [showLeftBorder]="true">
    <a [routerLink]="authorUrl" class="author-icon" [style.background-image]="'url('+authorIconUrl+')'"></a>
  </nwen-separator>
</div>

