@import "~src/common";
:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-items: start;
  align-items: center;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;

  nwen-rich-text-editor-toolbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: start;
    justify-items: center;
    background-color: $GLOBAL_COLOR_BG_LV3;
  }
  nwen-rich-text-editor-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: start;
    justify-items: start;
  }
}
