@import "../../../../common";
:host {
  width: 100%;
}
.article-content {
  width: 100%;
  text-align: start;
  vertical-align: baseline;
  font-size: 18px;
  font-stretch: 100%;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  line-height: 24px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin-bottom: 64px;
  p:first-of-type::first-letter {
    float: left;
    font-size: 2em;
    line-height: 1.1em;
    margin: 0;
  }

  @include responsive($GLOBAL_WIDTH_LV5){
    p:first-of-type::first-letter {
      font-size: 4em;
      line-height: 1em;
    }
  }
}

