<div class="rich-text-editor-toolbar">
  <span class="toolbar-button" [matMenuTriggerFor]="headingMenu">
  <fa-icon [icon]="['fas','heading']"></fa-icon>
    <mat-menu #headingMenu="matMenu">
      <button mat-menu-item (click)="onHeading('H1', $event)">
      H1
      </button>
      <button mat-menu-item (click)="onHeading('H2', $event)">
      H2
      </button>
      <button mat-menu-item (click)="onHeading('H3',$event)">
      H3
      </button>
      <button mat-menu-item (click)="onHeading('H4',$event)">
      H4
      </button>
    </mat-menu>
  </span>
  <span class="toolbar-button" (click)="onBold($event)">
    <fa-icon [icon]="['fas','bold']"></fa-icon>
  </span>
  <span class="toolbar-button">
    <fa-icon [icon]="['fas','italic']" (click)="onItalic($event)"></fa-icon>
  </span>
  <span class="toolbar-button">
    <fa-icon [icon]="['fas','quote-left']" (click)="onQuote($event)"></fa-icon>
  </span>
  <span class="toolbar-button">
    <fa-icon [icon]="['fas','paragraph']" (click)="onParagraph($event)"></fa-icon>
  </span>
  <span class="toolbar-button">
    <fa-icon [icon]="['fas','image']" (click)="onImage($event)"></fa-icon>
  </span>
  <span class="toolbar-button">
    <fa-icon [icon]="['fas','eraser']" (click)="onClear($event)"></fa-icon>
  </span>
  <span class="toolbar-button">
    <fa-icon [icon]="['fas','backspace']" (click)="onDelete($event)"></fa-icon>
  </span>
</div>
