<section>
  <form class="anthology-create-form">
    <mat-form-field>
      <input matInput name="title" required maxlength="40" type="text" placeholder="文集标题"/>
      <fa-icon [icon]="['fas', 'boxes']" matSuffix></fa-icon>
      <mat-hint align="end">还能输入50字</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput name="description" maxlength="200" placeholder="文集介绍"></textarea>
      <mat-hint align="end">还能输入100字</mat-hint>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" class="button-theme">
        上传封面
      </button>
      <button mat-raised-button color="primary" class="button-theme">
        创建
      </button>
    </div>
  </form>
</section>
