@import "~src/common";
.rich-text-editor-image-loading-container {
  width: calc(100% - 2px);
  height: 50px;
  clear: both;
  margin: 16px auto;
  border: 1px solid $GLOBAL_COLOR_BORDER_LV3;
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
  font-size: 8px;
  font-weight: bold;
  text-align: center;

  .rich-text-editor-image-loading-progress {
    height: 10px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: $GLOBAL_COLOR_PROGRESS;
    transition: width 1s;
    cursor: default;
    width: 0;
  }
}
@include responsive($GLOBAL_WIDTH_LV5) {
  .rich-text-editor-image-loading-container {
    width: calc(60%);
  }
}
.rich-text-editor-image-loading-container.full {
  .rich-text-editor-image-loading-progress {
    width: calc(100% - 64px);
  }
}
img.article-detail-content-img {
  width: 90%;
  display: block;
  clear: both;
  margin: 16px auto;
}
audio.article-detail-content-audio {
  width: 90%;
  display: block;
  clear: both;
  margin: 16px auto;
}
video.article-detail-content-video {
  width: 90%;
  display: block;
  clear: both;
  margin: 16px auto;
}
blockquote {
  background-color: $GLOBAL_COLOR_BG_LV1;
  margin: 16px;
  padding: 32px;
  border-left: 4px solid $GLOBAL_COLOR_BORDER_LV3;
  font-size: 1.2em;
  font-weight: lighter;
}
p {
  margin: 16px;
}
