@import "theme";
//Global font family
@font-face {
  font-family: nwen;
  src: url(/assets/font/FZYTK.TTF);
}
$GLOBAL_FONT_FAMILY_BASE: -apple-system, SF UI Text, Arial, nwen, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
//Global colors
$GLOBAL_COLOR_TEXT_LV5: #000000;
$GLOBAL_COLOR_TEXT_LV3: mat-color($mat-gray, 600);
$GLOBAL_COLOR_TEXT_EMPHASIZE_LV3: mat-color($mat-red, 600);
$GLOBAL_COLOR_TEXT_EMPHASIZE_LV4: mat-color($mat-brown, 500);
$GLOBAL_COLOR_TEXT_EMPHASIZE_LV5: mat-color($mat-red, 900);
$GLOBAL_COLOR_BORDER_LV0: #FFFFFF;
$GLOBAL_COLOR_BORDER_LV3: mat-color($mat-gray, 300);
$GLOBAL_COLOR_BORDER_LV5: #000000;

//Global breakpoint of width
$GLOBAL_WIDTH_LV1: 330px;
$GLOBAL_WIDTH_LV2: 450px;
$GLOBAL_WIDTH_LV3: 568px;
$GLOBAL_WIDTH_LV4: 768px;
$GLOBAL_WIDTH_LV5: 996px;
$GLOBAL_WIDTH_LV6: 1200px;
$GLOBAL_WIDTH_LV7: 1280px;
$GLOBAL_WIDTH_LV8: 1420px;

@mixin responsive($width) {
  @media (min-width: $width) {
    @content;
  }
}
@mixin circle_icon($width) {
  border-radius: 50%;
  overflow: hidden;
  width: $width;
  height: $width;
  min-width: $width;
  max-width: $width;
}
