/* You can add global styles to this file, and also import other style files */
@import "common";
*{
  outline: none;
}
html, body {
  height: 100%;
  width: 100%;
  font-family:$GLOBAL_FONT_FAMILY_BASE;
  color: $GLOBAL_COLOR_TEXT_LV5;
  main {
    width: 100%;
    height: 100%;
  }
}

.separator-content {
  font-size: 28px;
  font-weight: 400;
  color: $GLOBAL_COLOR_TEXT_LV3;
  text-decoration: none;
  span.text {
    margin-left: 8px;
  }
}
.separator-content:hover {
  color: $GLOBAL_COLOR_TEXT_LV5;
}
.separator-content.bigger {
  font-size: 32px;
}

.separator-content.smaller {
  font-size: 22px;
}


