/* You can add global styles to this file, and also import other style files */
@import "common";
html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  main {
    width: 100%;
    height: 100%;
  }
}
