@import "~src/common";
:host(.column) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.container.column {
  overflow: hidden;
  padding: 16px;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  height: 760px;
  margin-left: auto;
  margin-right: auto;
  border-right: 1.5px solid $GLOBAL_COLOR_BORDER_LV5;

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    flex-shrink: 1;
    overflow: hidden;
    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-items: start;
      flex-grow: 0;
      flex-shrink: 0;
      a.title {
        font-size: 40px;
        line-height: 50px;
        max-height: 250px;
        font-family: nwen;
        font-weight: lighter;
        color: $GLOBAL_COLOR_TEXT_LV5;
        text-decoration: none;
        margin-bottom: 8px;
        font-feature-settings: 'clig' 0, 'calt' 0, 'case' 1;
        font-kerning: normal;
        font-variant-ligatures: common-ligatures;
        text-transform: uppercase;
        overflow: hidden;
        word-wrap: break-word;
      }

      a.sub-title {
        font-size: 22px;
        color: $GLOBAL_COLOR_TEXT_LV5;
        text-decoration: none;
        font-family: nwen;
        margin: 8px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-height: 205px;
      }
      a.sub-title:hover {
        color: $GLOBAL_COLOR_TEXT_EMPHASIZE_LV4;
      }
    }
    section {
      font-size: 18px;
      width: 100%;
      font-family: nwen;
      margin: 8px;
      font-weight: 400;
      overflow: hidden;
      cursor: pointer;
      outline: none;
    }
    section:hover {
      color: $GLOBAL_COLOR_TEXT_EMPHASIZE_LV4;
    }
  }

  div.coverImg {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-origin: border-box !important;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  div.coverImg.filter {
    filter: grayscale(100%);
  }
}
.container.column.last {
  border-right: none;
}
.container.column:hover {
  article {
    header {
      a.title {
        color: $GLOBAL_COLOR_TEXT_EMPHASIZE_LV5;
      }
    }
  }

  div.coverImg.filter {
    filter: grayscale(0%);
  }
}
@include responsive($GLOBAL_WIDTH_LV5) {
  .container.column {

    article {
      header {
        a.title {
          font-size: 70px;
          line-height: 70px;
          max-height: 350px;
        }
        a.sub-title {
          font-size: 30px;
        }
      }
      section {
        font-size: 20px;
      }
    }
  }
}

