<div class="container last" [class.last]="!showRightBorder"
     [class.jumbotron]="'jumbotron'===displayType"
     [class.column]="'column'===displayType"
     [class.circle]="'circle'===displayType">
  <article *ngIf="card.showTitle || card.showSubTitle">
    <header>
      <a class="title" [routerLink]="card.titleRouterLink" *ngIf="card.showTitle">
        {{card.title}}
      </a>
      <a class="sub-title" [routerLink]="card.subTitleRouterLink" *ngIf="card.showSubTitle">
        {{card.subTitle}}
      </a>
    </header>
    <section [routerLink]="card.contentRouterLink" *ngIf="card.showContent">
      {{card.content}}
    </section>
  </article>
  <div class="coverImg" [class.filter]="card.useCoverImageFilter" *ngIf="card.showCoverImage && card.coverImageUrl"
       [routerLink]="card.coverImageRouterLink"
       [style.background-image]="'url('+card.coverImageUrl+')'">
    <ng-content></ng-content>
  </div>
</div>

