@import "~src/common";
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}
section {
  width: calc(100% - 64px);
  max-width: $GLOBAL_WIDTH_LV3;
  margin: 60px 32px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  display: flex;
  .tab-container {
    width: 100%;
  }

  @include responsive($GLOBAL_COLOR_BORDER_LV5) {
    width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    width: calc(100% - 32px);

    > * {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    > * + * {
      margin-top: 0;
    }
    margin-left: 16px;
    margin-right: 16px;
    max-width: 500px;

    @include responsive($GLOBAL_COLOR_BORDER_LV5) {
      width: 500px;
    }

    color: $GLOBAL_COLOR_TEXT_LV5;

    .author-icon-uploader-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: start;
      margin-bottom: 60px;
      margin-top: 60px;
      justify-content: space-between;
      .author-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 50px;
      }

    }

    textarea {
      height: 124px;
    }
    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: start;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 60px;

      button {
        margin-left: auto;
      }
    }
  }
}
