@import "~src/common";
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
  flex-wrap: wrap;
  width: 100%;

  .toolbar-button {
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    width: 50px;
    height: 50px;

    .image-uploader-input {
      display: none;
    }

    .mat-button-ripple-round {
      border-radius: 0;
    }
  }

  .toolbar-button.mat-icon-button {
    border-radius: 0;
  }
  .toolbar-button.emphasize {
    color: $GLOBAL_COLOR_TEXT_EMPHASIZE_LV5;
  }

  .divider{
    height: 24px;
    border-left: 2px solid $GLOBAL_COLOR_BORDER_LV5;
    border-right: none;
  }
}
.heading-menu {
  width: 60px;
  min-width: 60px !important;

  .mat-menu-item {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}
