<article class="article-summary-card last" [class.last]="isLastColumn">
  <header>
    <a class="title" routerLink="/article/{{articleSummary.id}}">
      {{articleSummary.title}}
    </a>
    <a class="author" routerLink="/author/{{articleSummary.authorId}}">
      {{articleSummary.authorNickName}}
    </a>
  </header>
  <section>
    {{articleSummary.content}}
  </section>
  <footer *ngIf="articleSummary.coverImgId" routerLink="/article/{{articleSummary.id}}"
          style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg')">
  </footer>
</article>

