<div class="article-summary-card last" [class.last]="isInLastColumn"
     [class.jumbotron-container]="'jumbotron'===containerType" [class.column-container]="'column'===containerType">
  <article *ngIf="showArticle">
    <header>
      <a class="title" routerLink="/article/{{card.summary.id}}">
        {{card.summary.title}}
      </a>
      <a class="author" routerLink="/author/{{card.summary.authorId}}">
        {{card.summary.authorNickName}}
      </a>
    </header>
    <section>
      {{card.summary.content}}
    </section>
  </article>
  <div class="coverImg" [class.filter]="card.useCoverImageFilter" *ngIf="showCoverImage && card.summary.coverImgId"
       routerLink="/article/{{card.summary.id}}"
       style="background-image: url('/assets/image/1.jpg')">
  </div>
</div>

