<article class="article-summary-card last" [class.last]="isInLastColumn">
  <header>
    <a class="title" routerLink="/article/{{card.summary.id}}">
      {{card.summary.title}}
    </a>
    <a class="author" routerLink="/author/{{card.summary.authorId}}">
      {{card.summary.authorNickName}}
    </a>
  </header>
  <section>
    {{card.summary.content}}
  </section>
  <div class="coverImg" [class.filter]="card.useFilter" *ngIf="card.summary.coverImgId" routerLink="/article/{{card.summary.id}}"
          style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg')">
  </div>
</article>

