@import "~src/common";
.rich-text-editor-content {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 18px;
  font-weight: 400;
  width: calc(100% - 32px);
  overflow-y: auto;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}
